$primary: #fff;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: #3faf82;
  color: #fff;
  background: var(--base);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:root {
  --base: #ffc600;
}

label,
body {
  text-align: center;
  display: block;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 25px;
  margin-bottom: 10px;
}

input {
  width: 100px;
  padding: 7px;

  &:focus {
    outline: none;
  }
}
