.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	background-color: candyapple;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h5 {
  margin: 0 auto;
  display: block;
  color: red;
}

// Variables 
h1 {
  right: 4px;
	display: inline;
	position: relative;
	font: 110px Helvetica, Sans-Serif;
	letter-spacing: -3px;
	color: rgba(0,0,255,0.5); 
  animation: two .5s linear infinite .5s 2s;
}

h1:after {
	content: "FRIDAY";
	position: absolute; left: 4px; top: 4px;
	color: rgba(255,0,0,0.5);
  animation: two .2s linear infinite 1s;
  
}
.white {
  background-color: white;
  height: 100px;
  top: 20px;
  z-index: 1000;
  width: 380px;
  position: absolute;
  animation: op .5s linear forwards 2s;
}

h5 {color: black; text-align: center;}
// Classes
@keyframes op {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  } 
}

@keyframes one {
  to {
    color: rgba(255,0,0,0.5);
  }
}
@keyframes two {
  to {
   color: rgba(0,0,255,0.3); 
  }
}
