.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: #3FAF82;
  color: #fff;
  background: orange;
  overflow: scroll;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 100%;
  padding: 10px;
}

.search-form {
  max-width: 250px;
  margin: 50px 15%;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  margin-left: -20px;
  padding: 0;
  position: relative;
  width: 132%;
}

.suggestions li {
  background: #000;
  list-style: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 15px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:first-child {
  margin-top: 5px;
}

.suggestions li:nth-child(even) {
  background: grey;
}

.suggestions li:nth-child(odd) {
  background: grey;
}
