### JetBrains
# User-specific
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# JIRA plugin
atlassian-ide-plugin.xml

### OSX
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with a \r (aka ^M)
Icon

# Thumbnails
._*

### Sublime
*.sublime-workspace
*.sublime-project

# Kiwi Node/Gulp Generated Theme Files
node_modules
assets/dist