html {
  box-sizing: border-box;
  font-size: 10px;

}

body {
  margin:0;
  text-align: center;
  font-family: 'Raleway', monospace;
}

.frame{
  position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	color: #fff;
  1
2
3
4
CSS
background: rgb(166,75,75);
background: linear-gradient(0deg, rgba(166,75,75,1) 0%, rgba(255,164,109,1) 100%);
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.display__time-left {
  font-weight: 100;
  font-size: 12rem;
  margin: 0;
  color:white;
  text-shadow:4px 4px 0 rgba(0,0,0,0.05);
}

.timer {
  display:flex;
  min-height: 100vh;
  flex-direction:column;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex:1;
  width: 100%;
}

.timer__controls form {
  flex:1;
  display:flex;
}

.timer__controls input {
  flex:1;
  border:0;

}

.timer__button {
  background:none;
  border:0;
  cursor: pointer;
  color:white;
  font-size: 2rem;
  text-transform: uppercase;
  background:rgba(0,0,0,0.1);
  border-bottom:3px solid rgba(0,0,0,0.2);
  border-right:1px solid rgba(0,0,0,0.2);
  padding:1rem;
  font-family: 'Roboto Mono', monospace;
}

.timer__button:hover,
.timer__button:focus {
  background:rgba(0,0,0,0.2);
  outline:0;
}

.display {
  	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.display__end-time {
  display: none;
  color:white}