.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: #3FAF82;
  color: #fff;
  background: #fff;
  overflow: scroll;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  color: black;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#bands {
  list-style: inside square;
  font-size: 15px;
  background: #474787;
  width: 500px;
  margin: auto;
  padding: 0;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
  color: #fff;
}

#bands li {
  border-bottom: 1px solid #efefef;
  padding: 11px;
}

#bands li:last-child {
  border-bottom: 0;
}

a {
  color: #ffc600;
  text-decoration: none;
}
