$primary: #fff;
html {
      box-sizing: border-box;
      font-weight: 200;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    body {
      margin: 0;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	color: #fff;
  background: $primary;
  display: flex;
  flex: 1;

}
.panels {
      min-height:90vh;
      overflow: hidden;
      display: flex;
    }

    .panel {
      background:#6B0F9C;
      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
      color:white;
      text-align: center;
      align-items:center;
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 10px;
      background-size:cover;
      background-position:center;
      flex: 1;
      justify-content: center;
      align-items: center;
      display: flex;
      border: 1px red;
      flex-direction: column;
    }
    
    
    .panel1 { background-image:url(https://i.pinimg.com/originals/d6/05/c6/d605c6664f531f186dacb8294d784203.jpg); }
    .panel2 { background-image:url(http://static.tvgcdn.net/rovi/showcards/feed/284/thumbs/30807284_1300x1733.jpg); }
    .panel3 { background-image:url(https://i.pinimg.com/originals/bc/b1/41/bcb141f3a038081ebefc3743adbc9e59.jpg); }
    .panel4 { background-image:url(https://images.spoilertv.com/cache/it-s-always-sunny-in-philadelphia/Season%208/Cast%20Promotional%20Photos/LAWRENCE_ALWAYS_SUNNY_CHARLIE_085_FULL.jpg); }
    .panel5 { background-image:url(https://coubsecure-s.akamaihd.net/get/b90/p/coub/simple/cw_timeline_pic/b93ac4b1b23/5953c5c39f84cdd30a83a/big_1471653580_image.jpg); }
    
    .panel > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .panel > *:first-child {
      transform: translateY(-100%); 
    }
    .panel.open-active > *:first-child {
      transform: translateY(0); 
    }
    .panel > *:last-child {
      transform: translateY(100%); 
    }
    .panel.open-active > *:last-child {
      transform: translateY(0); 
    }
    .panel p {
      text-transform: uppercase;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 1em;
    }
    .panel p:nth-child(2) {
      font-size: 4em;
    }
    
    .panel.open {
      font-size:15px;
      flex: 5;
    }
