.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: #3FAF82;
  color: #fff;
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #22c3b4 100%);
}

.center {
  margin: 20px auto 0;
  display: block;
  text-align: center;
}

img {
  max-height: 320px;
  max-width: 350px;
}

button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid white;
  border-radius: 0px;
  padding: 7px 15px;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  outline: none;
  color: white;
  background: transparent;
  display: block;
  width: 300px;
}
