.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: #3FAF82;
  background: #5CA4EA;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shape {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;
  -webkit-animation: squareToCircle 10s 1s infinite alternate;
}

@-webkit-keyframes squareToCircle {
  0% {
    width: 0;
    height: 0;
    background: #f0f0f0;
  }
  15% {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #ccc;
  }
  35% {
    border-radius: 50% 50% 50% 0;
    background: #eee;
    transform: rotate(135deg);
  }
  50% {
    border-radius: 50% 100% 100% 50%;
    background: #ddd;
    transform: rotate(-135deg);
  }
  65% {
    border-radius: 10% 20% 10% 80%;
    background: #eee;
    transform: rotate(0deg);
  }
  80% {
    border-radius: 0 0 0 0;
    background: #ddd;
    transform: rotate(105deg);
  }
  90% {
    border-radius: 50% 20%;
    background: #fff;
    transform: rotate(0deg);
  }
}
