$primary: #fff;
$red: #e01463;
$blue: #6dcadc;
$green: #3db991;
$orange: #e9a81f;   

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	color: #fff;
  background: $primary;
  

}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#all-con {
  display: block;
  height: 200px;
  width: 200px;
  position: relative;
  animation: spin 5s linear forwards infinite;

}

.red, .green, .blue, .orange {
  height: 25px;
  width: 25px;
  border-radius: 25px; 
}

.blue {
 background: $blue;
  bottom: 0;
  left: 0;
  position: absolute;
  animation: blue 5s linear forwards infinite;
  
}
.green {
  top: 0;
  left: 0;
 background: $green;
  position: absolute;
  animation: red 5s linear forwards infinite;
  
}
.orange {
 background: $orange;
 display: block;
 top: 0; 
 right: 0; 
 position: absolute; 
 animation: blue 5s linear forwards infinite ;

}

.red {
  background: $red;
  display: block;
  bottom: 0;
  right: 0;
  position: absolute;  
  animation: red 5s linear forwards infinite;

  
}

@keyframes spin {
  0% {
    transform: rotate(0turn) scale(1,1);
  }
  15% {
    transform: rotate(1.28turn) scale(.5,.5);
    height: 100px;
    width: 100px;   
  }
  30% { 
    transform: rotate(2.24turn) scale(1,1);
    height: 200px; 
    width: 200px;
  }  
  45% {
    transform: rotate(3.2turn) scale(1,1);
    height: 150px;
    width: 150px;
  }
   90% {
    transform: rotate(3.2turn) scale(1,1);
    height: 150px;
    width: 150px;
  }
  100% {
    transform: rotate(4turn) scale(1,1); }
}

@keyframes red {
  0%, 45% {
    height: 25px;
    width: 25px;
    margin: 35px 0;
  }

  55%,80% {
    width: 150px;
    height: 25px;
    border-radius: 25px;
    margin: 35px 0;
  } 
    90%, 100% {
    height: 25px;
    width: 25px;
    margin: 35px 0;
  }  
}

@keyframes blue {
  0%, 45% {
    height: 25px;
    width: 25px;
    margin: 0 35px;
  }
  55%, 80% {
    width: 25px;
    height: 150px;
    border-radius: 25px;
    margin: 0 35px; 
  } 
  90%, 100% {
    height: 25px;
    width: 25px;
    margin: 0 35px;
  }
}

