$blue: #c7eae4;
$green: #a7e8bd;

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	background: -webkit-linear-gradient(bottom left, #FDA231 0%, #FDCA31 100%);
  background: -moz-linear-gradient(bottom left, #FDA231 0%, #FDCA31 100%);
  background: -o-linear-gradient(bottom left, #FDA231 0%, #FDCA31 100%);
  background: linear-gradient(to top right, #FDA231 0%, #FDCA31 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FDA231', endColorstr='#FDCA31',GradientType=1 );
  color: #497081;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  background: $blue;
  position: relative;
  overflow: hidden; 
  height: 350px;
  width: 350px;
  border-radius: 50% 0% 50% 0%;
  justify-content: center;
  align-items: center;
}

.ground {
  position: relative;
  height: 1000px;
  width: 1000px;
  top: 50%;
  left: -80%;
  background: darken($green, 5%);
  border-radius: 43%;
  animation: move 4s infinite linear;
}

.bah {
  position: relative;
  height: 2000px;
  width: 2000px;
  bottom: 230%;
  left: -100%;
  background: $green;
  border-radius: 40%;
  animation: move 6s infinite linear;
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
