.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: #373738;
  background-color: #373738;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
  left: 0;
  text-align: center;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame .hundred {
  margin-top: 0px;
  display: inline-block;
  font-size: 15px;
  color: #9a8297;
  margin-bottom: -20px;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 5px;
  padding-bottom: 20px;
}
.frame h1 {
  display: inline;
  position: relative;
  font: 75px Helvetica, Sans-Serif;
  letter-spacing: 1px;
  color: rgba(154, 130, 151, 0.5);
}
.frame h1:after {
  content: "100 DAYS";
  position: absolute;
  left: 4px;
  top: 4px;
  color: rgba(255, 255, 255, 0.8);
}
