$primary: #ff911a;

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	color: #fff;
  background: $primary;
  overflow: hidden;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.circle {
			width: 100px;
			height: 100px;
			background-color: #fff;
			margin: 50px 0;
			position: relative;
			top: 600px;
			border-radius: 50%;
    box-shadow: 5px 2px 5px 0px; 
			animation: updown 1s 0.6s ease-in infinite alternate,
			           leftright 3s 0.5s linear infinite alternate; 
		}	

		@keyframes updown {
			  0% {transform: scale(1,1) translateY(-630px);}
			 89% {transform: scale(0.97,1.03) translateY(-200px);}
			100% {transform: scale(1.1, 0.9) translateY(-100px);}
		}
		@keyframes leftright {
			  0% {left: -4px;}
			100% {left: 507px;}
		}