// Frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: #3faf82;
  color: #fff;
  background-color: #002868;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: "Helvetica", serif;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  color: #002868;
  padding: 10px;
}

*,
:before,
:after {
  box-sizing: border-box;
}

// Classes

.flag {
  width: 380px;
  height: 200px;
  position: relative;
  margin: 70px auto;
  padding-bottom: 30px;
}

.stripe {
  width: 0;
  height: 15.38px;
  background-color: #fff;
  animation: slide 0.8s ease-out forwards;
}

.w {
  color: #002868;
  font-size: 200px;
  left: 90px;
  margin-top: -10px;
  position: absolute;
  z-index: 1000;
  font-weight: 700;
}

.blinking {
  top: 25px;
  position: relative;
  font-size: 50px;
  font-family: "Helvetica", serif;
  color: #fffff;
  font-weight: 700;
  opacity: 0;
  animation: blinkingText ease-in-out 1s infinite 3s;
}

@keyframes slide {
  to {
    width: 100%;
  }
}
@keyframes slideOut {
  to {
    width: 152px;
  }
}
@keyframes pop {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes blinkingText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stripe-2 {
  animation-delay: 0.3s;
}

.stripe-3 {
  animation-delay: 0.45s;
}

.stripe-4 {
  animation-delay: 0.6s;
}

.stripe-5 {
  animation-delay: 0.75s;
}

.stripe-6 {
  animation-delay: 0.9s;
}

.stripe-7 {
  animation-delay: 1.05s;
}

.stripe-8 {
  animation-delay: 1.2s;
}

.stripe-9 {
  animation-delay: 1.35s;
}

.stripe-10 { animation-delay: 1.5s; }
.stripe-11 { animation-delay: 1.65s; }
.stripe-12 { animation-delay: 1.8s; }
.stripe-13 { animation-delay: 1.95s; }
