.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	  background: #27ae60;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

// Variables 

// Classes
.button{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  
    &:after{
        content: "";
        position: absolute;
        z-index: 0;
        top: 0; right: 0; bottom: 0; left: 0;

    }
}
.circle{
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    color: #ddd;
    background: #fff;
    border-radius: 50%;
    border: none;
    transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
    &:after{
        content: "";
        font-size: 2.5em;
        line-height: 1.1em;
    }
    &:hover{
        box-shadow: 0 0 1px 15px rgba(#ddd, 0.4),
        0 0 1px 30px rgba(#ccc, 0.1),
        0 0 1px 45px rgba(#ccc, 0.1);
        cursor: crosshair;
    }
}