.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: #3FAF82;
  color: #fff;
  background: #00b894;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  display: inline-block;
  font-size: 45px;
}

a {
  text-align: center;
  color: white;
  border: 1px solid white;
  padding: 5px;
  text-decoration: none;
}

.button {
  text-align: center;
  margin-bottom: 50px;
}
