$primary: #000;


.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	color: #fff;
  background: $primary;
  overflow: hidden;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  width: 100%;
  padding: 50px 0;
}
.pacman {
 
  display: block;
  width: 100px;
  animation: pac-go 5s linear infinite;
  transform-origin: center center;
}
.top {
	height: 50px;
	width: 100px;
	border-radius: 100px 100px 0 0;
	background-color: yellow;
	animation: top 0.5s linear infinite;
	transform-origin: center bottom;
}

.bottom {
	height: 50px;
	width: 100px;
	border-radius: 0 0 100px 100px;
	background-color: yellow;
	animation: bottom 0.5s linear infinite;
	transform-origin: center top;
}
.dots {
  top: 90px;
  position: absolute;
  margin-left: 127px;
  width: 100%;
}
li {
  height: 15px;
  width: 15px;
  background: white;
  display: inline-block;
  position: relative;
  margin-right: 45px;
  border-radius: 50%;
}

li:nth-of-type(1) {
  animation: dot1 5s infinite;
}
li:nth-of-type(2) {
  animation: dot2 5s infinite;
}
li:nth-of-type(3) {
  animation: dot3 5s infinite;
}

@keyframes top {
	0% {
		transform: rotate(-30deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-30deg);
	}
}

@keyframes bottom {
	0% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(30deg);
	}
}

@keyframes pac-go {
  0%, 5% {
    margin-left: 5%;
  }
  40% {
    margin-left: 70%;
    transform: rotate(0deg);
  }
  50%,55% {
    margin-left: 70%;
    transform: rotate(-180deg);
  }
  90% {
    margin-left: 5%;
    transform: rotate(-180deg);
    }
  100% {
    margin-left: 5%;
    transform: rotate(-0deg);
  }
  }

@keyframes dot1 {
  0%,12%{
    opacity: 1;
  }
  15%,45%{
    opacity: 0;
  }
  50%,80%{
    opacity: 1;
  }
  85%,95% {
    opacity: 0;
  }
 100% {
    opacity: 1;
  } 
}

@keyframes dot2 {
  0%,22%{
    opacity: 1;
  }
  25%,45%{
    opacity: 0;
  }
  50%,70%{
    opacity: 1;
  }
  75%,95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes dot3 {
  0%,30%{
    opacity: 1;
  }
  35%,45%{
    opacity: 0;
  }
  50%,60%{
    opacity: 1;
  }
  65%,95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  } 
}