$primary: #000;


.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	color: #fff;
  background: $primary;
  overflow: hidden;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  border-top: 3px solid darkblue;
  border-bottom: 3px solid darkblue;
  width: 100%;
  padding: 50px 0;
}
.pacman {

  display: block;
  width: 110px;
  animation: pac-go 7s linear infinite;
  transform-origin: center center;
}
.top {
	height: 60px;
	width: 110px;
	border-radius: 100px 100px 0 0;
	background-color: yellow;
	animation: top 0.5s linear infinite;
	transform-origin: center bottom;
}

.bottom {
	height: 60px;
	width: 110px;
	border-radius: 0 0 100px 100px;
	background-color: yellow;
	animation: bottom 0.5s linear infinite;
	transform-origin: center top;
}
.dots {
  top: 100px;
  position: absolute;
  margin-left: -20px;
  width: 100%;
}
li {
  height: 15px;
  width: 15px;
  background: white;
  display: inline-block;
  position: relative;
  margin-left: 45px;
  border-radius: 50%;
}

li:nth-of-type(1) {
  opacity: 1;
  animation: dot1 7s linear infinite;

}
li:nth-of-type(2) {
  animation: dot2 7s both linear infinite;
}
li:nth-of-type(3) {
  animation: dot3 7s both linear infinite;
}
li:nth-of-type(4) {
  animation: dot4  7s both linear infinite;
}
li:nth-of-type(5) {
  animation: dot5 7s  both linear infinite;
}
li:nth-of-type(6) {
  animation: dot6 7s both linear infinite;
}
#ghosts {
  position: absolute;
  margin-top: -140px;
  animation: go-ghost 7s both linear infinite;
  height: 50%;
  width: 70%;
  display: block;
}
.ghost {
	width: 100px;
	height: 110px;
	background: #f00;
	border-radius: 50px 50px 5px 5px;
	position: relative;
	margin: 20px;
	float: left;
}
.ghost-red {
	background: #f00;
  animation: color-r 7s linear both infinite;
}
.ghost-blue {
	background: #0df;
  animation: color-b 7s linear both infinite;
}

.eye {
	background: #fff;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 27px;
	left: 4px;
	border-radius: 50%;
}
.eye-right {
	left: 42px;
}
.eye:before {
	content: "";
	background: #00f;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 9px;
	left: 1px;
	border-radius: 50%;
}

.ghost-blue .eye:before {
	left: 15px;
  animation: eyes 7s linear both infinite;
}

.ghost-red .eye:before {
	left: 15px;
  animation: eyes 7s linear both infinite;
}
.foot {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background: #000;
	bottom: -15px;
	left: 5px;
	position: absolute;
	transform: rotate(45deg)
}
.foot-center {
	left: 37px;
}
.foot-right {
	left: 69px;
}




@keyframes top {
	0% {
		transform: rotate(-30deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-30deg);
	}
}

@keyframes bottom {
	0% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(30deg);
	}
}

@keyframes pac-go {
  0%,3% {
    margin-left: -30%;
     transform: rotate(0deg);
  } 
  40% {
    margin-left: 105%;
    transform: rotate(0deg);
  }
  45% {
    margin-left: 105%;
    transform: rotate(-180deg);
  }
  50% {
    margin-left: 100%;
    transform: rotate(-180deg);
  }
  85%, 100% {
    margin-left: -30%;
    transform: rotate(-180deg);
  }
}


@keyframes go-ghost {
  0%,15% {
    left: -300px;
  }
  40% {
   left: 100px; 
  }
  45% {
    left: 100px;
  }
  75%,100% {
    left: -300px;
    opacity: 1;
  }
  
}
 
@keyframes color-b {
  0%,39%,45%,49%,53%,57%,100%  { 
    background: #0df;
  }
  43%,47%,51% {
    background: darkblue;
  }
  
}

@keyframes color-r {
    0%,39%,45%,49%,53%,57%,100%   { 
    background: #f00;
  }
 43%,47%,51% {
    background: darkblue;
  
  }	
}



@keyframes dot1 {
   0%,10%{
    opacity: 1;
  }
  13%,45%,88%{
    opacity: 0;
  }
  90% {
    opacity:1;
  }

}

@keyframes dot2 {
  0%,14%{
    opacity: 1;
  }
  17%,45%,88%{
    opacity: 0;
  }
  92% {
    opacity:1;
  }

}

@keyframes dot3 {
  0%,18%{
    opacity: 1;
  }
  21%, 90%{
    opacity: 0;
  }
  94% {
    opacity:1;
  }

}

@keyframes dot4 {
  0%,22%{
    opacity: 1;
  }
  25%, 92%{
    opacity: 0;
  }
  96% {
    opacity:1;
  }

}

@keyframes dot5 {
  0%,26%{
    opacity: 1;
  }
  29%,45%,94%{
    opacity: 0;
  }
  98% {
    opacity:1;
  }
}

@keyframes dot6 {
  0%,30%{
    opacity: 1;
  }
  33%,45%,96%{
    opacity: 0;
  }
  100% {
    opacity:1;
  }

}

@keyframes eyes {
  0%,42% {
    left: 15px;
  }
  45%,100% {
    left: 5px;
  }
}