.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: #3FAF82;
  color: #fff;
  background: #ee5253;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 4rem;
}

.center {
  position: relative;
  top: 250px;
  left: 100px;
  transform: translate(-50%, -50%);
}

input {
  margin-left: 5px;
  margin-bottom: 8px;
  min-width: 10px;
  color: #ee5253;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

#weight {
  display: block;
  max-width: 400px;
  width: 85%;
  margin: 80px auto;
}

input {
  flex-grow: 0;
  text-align: center;
  font-size: 3.5rem;
  width: 250px;
}

/* --- Heading Styles --- */
h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 1.7rem;
  margin: 5px 0 25px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
}
