$primary: #fff;

.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	color: #fff;
  background: $primary;
}

.center {
position: absolute; left: 50%;
}


 :root {
      --blur: 10px;
    }

    img {
      filter: blur(var(--blur));
    }
label {
  color: red;
  font-size: 25px;
  font-family: 'Helvetica', sans-serif;
}

    body {
      text-align: center;
      background: #193549;
      color: blue;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 50px;
    }

    .controls {
      margin-top: -20px;
      padding-bottom: 20px;
    }

    .bs {
      font-size: 50px;
      margin-top: -15px;
      color: red;
      position: absolute;
      text-align: center;
      display: block;
      transition: all .5s;
      position: relative; 
      left: -50%; 
       font-family: 'Helvetica', sans-serif;
    }
.deriv {
      font-size: 30px;
      border: 2px solid red;
      color: red;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      position: absolute;
      margin: -200px 90px;
      text-align: center;
      display: block;
      padding: 10px 45px;
      transform: rotate(45deg);
      transition: all .5s;
    }

    input {
      width:100px;
    }
h3 {
  font-size: 20px;
  color: #000;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}