.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	background-color: #9bfff8;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

// Variables 
.doughnut-svg {
  margin: 0 auto;
  animation: gonut 5s ease-in-out infinite 3s;
}
@keyframes gonut {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(600deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
// Classes
