body {
    background: #f0f0f0;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 0;
}

.html, body {
    height: 100%;
  }
  
  body {
    font-family: 'Roboto';
    text-align: center;
    color: #f5f5f5;
  }

button,div,form,input {
    box-sizing: border-box
}


#wrapper {
    max-width: 1540px;
    margin: 50px auto;
}


.info {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px 0;
    background: red;
    color: #fff;
}

.intro .left,.intro .right {
    float: left;
    width: 50%;
    padding: 0 10px
}

.pens {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.pens .pen {
    width: 480px;
    margin: 10px 10px;
    float: left;
}

@media (max-width: 1000px) {
    .pens .pen {
        margin:20px auto;
        float: none;
    }
}

.pens .title {
    position: relative;
    display: block;
    width: 80px;
    height: 45px;
    margin: 0 auto -5px auto;

    background: #fff;
    color: #383838;
    line-height: 42px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.pens .title:hover {
    color: #4b9cbd;
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0)
}

.pens .content {
    position: relative;
    z-index: 2;
    width: 480px;
    height: 500px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
    overflow: hidden
}

.pens .content p.codepen {
    margin-top: 180px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #abb2bf
}

.pens .content p.codepen a {
    color: #abb2bf
}

.footer {
    margin: 40px 0;
    text-align: center
}

/* hero */
  
  .hero {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 500% 500%;
	background-position: 0 50%;
	transition: all 2s ease;	
    background-blend-mode: multiply;
    height: 25%;
    width: 100%;
    animation: Gradient2 60s ease infinite;
	-webkit-animation: Gradient 260s ease infinite;
	-moz-animation: Gradient 260s ease infinite;
  }

.hashtags {
    margin-top: 85px;
}

.hashtags h3 {
    position: relative;
    font-weight: 400;
    margin-bottom: 85px;
    color: rgba(255,255,255,0.5);
}

@-webkit-keyframes Gradient {
	0% {
		background-position:100% 50%;
	}
	50% {
		background-position:  0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}


@keyframes Gradient {
	0% {
		background-position:100% 50%;
	}
	50% {
		background-position:  0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}



  .inner-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 30px;
   
  }
  @media only screen and (min-width: 320px) {
    .inner-text {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media only screen and (min-width: 400px) {
    .inner-text {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media only screen and (min-width: 680px) {
    .inner-text {
      font-size: 75px;
      height: 125px;
    }
  }
  @media only screen and (min-width: 950px) {
    .inner-text {
      font-size: 100px;
      height: 150px;
    }
  }
  
  .p1 {
    display: inline-block;
    font-size: .8em;
    font-weight: 900;
    margin: 0;
    line-height: 1;
  }
  @media only screen and (max-width: 465px) {
    .p1 {
      display: block;
      position: absolute;
      top: -25%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }
  
  .p2 {
    display: inline-block;
    font-size: .8em;
    font-weight: 100;
    margin: 0;
    line-height: 1;
    color: #4FC3F7;
  }
  @media only screen and (max-width: 465px) {
    .p2 {
      position: relative;
      top: 0.6em;
    }
  }
  