body {
    background: #f0f0f0;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px
}

button,div,form,input {
    box-sizing: border-box
}


#wrapper {
    max-width: 1240px;
    margin: 0 auto;
}


.intro {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0
}

.intro .left,.intro .right {
    float: left;
    width: 50%;
    padding: 0 10px
}

.pens {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.pens .pen {
    width: 480px;
    margin: 10px 10px;
    float: left;
    a
}

@media (max-width: 1000px) {
    .pens .pen {
        margin:20px auto;
        float: none
    }
}

.pens .title {
    position: relative;
    display: block;
    width: 80px;
    height: 45px;
    margin: 0 auto -5px auto;

    background: #fff;
    color: #383838;
    line-height: 42px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.pens .title:hover {
    color: #4b9cbd;
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0)
}

.pens .content {
    position: relative;
    z-index: 2;
    width: 480px;
    height: 500px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
    overflow: hidden
}

.pens .content p.codepen {
    margin-top: 180px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #abb2bf
}

.pens .content p.codepen a {
    color: #abb2bf
}

.footer {
    margin: 40px 0;
    text-align: center
}

