body {
  background: #383838;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0;
}

.html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  text-align: center;
  color: #f5f5f5;
}

button,div,form,input {
  box-sizing: border-box
}


#wrapper {
  max-width: 1540px;
  margin: 50px auto;
}

.pens {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  opacity: 0;
}
.pens-visible .pens {
  opacity: 1;
}

.pens .pen {
  width: 440px;
  margin: 10px;
}

@media (max-width: 1000px) {
  .pens .pen {
      margin:20px auto;
      float: none;
  }
}

.pens .title, .intro .title {
  position: relative;
  display: block;
  width: 80px;
  height: 45px;
  margin: 0 auto -5px auto;
  background: #fff;
  color: #383838;
  line-height: 42px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.pens .title:hover {
  color: #4b9cbd;
  -webkit-transform: translate3d(0,-5px,0);
  transform: translate3d(0,-5px,0)
}

.pens .content {
  position: relative;
  z-index: 2;
  width: 440px;
  background: #fff;
  overflow: hidden;
}

.pens .content p.codepen {
  margin-top: 180px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color: #abb2bf
}

.pens .content p.codepen a {
  color: #abb2bf
}

.footer {
  margin: 40px 0;
  text-align: center
}

iframe {
  margin: 20px auto 5px;
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
 overflow-y: hidden;
}
/* hero */
  
  .hero {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 500% 500%;
	background-position: 0 50%;
	transition: all 2s ease;	
    background-blend-mode: multiply;
    width: 100%;
    min-height: 0px;
    animation: Gradient2 60s ease infinite;
	-webkit-animation: Gradient 260s ease infinite;
  -moz-animation: Gradient 260s ease infinite;
  padding: 50px 0;
  }

.hashtags h3 {
    font-weight: 400;
    color: rgba(255,255,255,0.5);
    font-size: 16px;
}


.inner-text {
  font-size: 100px;

}

@-webkit-keyframes Gradient {
	0% {
		background-position:100% 50%;
	}
	50% {
		background-position:  0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}


@keyframes Gradient {
	0% {
		background-position:100% 50%;
	}
	50% {
		background-position:  0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}


  .p1 {
    display: inline-block;
    font-size: .8em;
    font-weight: 900;
    margin: 0;
    line-height: 1;
  }
  /* @media only screen and (max-width: 400px) {
    .p1 {
      display: block;
      position: absolute;
      top: -25%;
      left: 50%;
      transform: translateX(-50%);
    }
  } */
  
  .p2 {
    display: inline-block;
    font-size: .8em;
    font-weight: 100;
    margin: 0;
    line-height: 1;
    color: #4FC3F7;
  }
  /* @media only screen and (max-width: 400px) {
    .p2 {
      position: relative;
      top: 0.6em;
    }
  } */
  
  blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    /* border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); */
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
    color: rebeccapurple !important;
    text-align: left;
  }
  
  blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
  }
  
  blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }
  
  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: underline;
  }

  iframe[id^=twitter-widget] {
    height: 140px !important;
  }
  iframe[id^=twitter-widget-0] {
    height: 210px !important;
  }

  .intro-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    color: #abb2bf;
    margin: 150px 0;
  }
  .intro {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .intro h1 {
    font-size: 4rem;
    margin: 10px 0;
  }
  .intro p {
    margin: 0;
  }
  .intro video {
    text-align: center;
    margin: 0 auto;
    border: 15px solid #fff;
    height: 400px;
    width: 400px;
  }
  .intro1 {
    width: 55%;
  }
  .intro2 {
    width: 40%;
  }
  .view {
    color: #abb2bf;
    text-decoration: none;
    font-size: 14px;
    /* width: 400px; */
    position: absolute;
    left: 0;
    right: 0;
    margin: -25px auto 0;
  }


  @media (min-width: 400px) and (max-width: 588px) {
    .intro video {
     height: 300px;
      width: 300px;
    }
  }
  @media (min-width: 400px) and (max-width: 788px) {
    .intro {
      margin: 20px;
    }
    .intro1, .intro2 {
      width: 85%;
    }
    .intro h1 {
      font-size: 2.5rem;
    }
    .intro-container {
      flex-direction: column-reverse;
    }
    .hashtags h3 {
      font-size: 14px;
    }

    .inner-text {
      font-size: 40px;
    }
  }
  @media (min-width: 789px) and (max-width: 949px) {
        .intro1, .intro2 {
          width: 85%;
        }
    .intro-container {
      flex-direction: column-reverse;
    }
  }
  @media (min-width: 950px) and (max-width: 1699px) {
    .intro {
      text-align: left;
    }

    .intro1 {
      width: 50%;
    }
    .intro2 {
      width: 40%;
    }
    .intro-container {
      flex-direction: row;
    }
  }
  video::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-volume-slider, video::-webkit-media-controls-mute-button {
    display: none;
}