
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	border-color: #3FAF82;
	color: #fff;
  background: #464343;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.circle {
  background-color: #464343;
  display: block;
  border-radius: 50%;
}

.circle-1 {
  width: 200px;
  height: 200px;

  position: relative;
  background:linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}

.circle-2 {
  width: 32px;
  height: 32px;
  border: none;
  background:linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  position: absolute;
  top: 0;
  left: 50%;
  margin: -16px 0 0 -16px;
      animation: Gradient 10s ease infinite;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position:100% 50%;
	}
	50% {
		background-position:  0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
